.wrapper {
  composes: wrapper from '../../pages/Cart/Cart.module.css';
}

.container {
  composes: emptyContainer from '../../pages/Cart/Cart.module.css';
}

.icon {
  composes: emptyIcon from '../../pages/Cart/Cart.module.css';
}

.title {
  composes: emptyTitle from '../../pages/Cart/Cart.module.css';
}

.text {
  composes: emptyText from '../../pages/Cart/Cart.module.css';
}

.actionBtn {
  composes: startShoppingBtn from '../../pages/Home/Home.module.css';
}
