.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  min-height: 100vh;
  padding: 6.75rem 0 2.25rem;
}

.heroTitle {
  text-align: center;
  font-size: clamp(2.75rem, 6vw, 3rem);
  font-family: var(--font-heading);
}

.heroSubTitle {
  composes: heroTitle;
  font-size: clamp(1.5rem, 3vw, 1.7rem);
}

.startShoppingBtn {
  margin: 0.75rem 0;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-white-text);
  background-color: var(--color-accent);
  border-radius: 0.4rem;

  &:hover {
    background-color: var(--color-accent-hover);
  }
}

.heroImage {
  display: block;
  width: 100%;
  max-width: 37.5rem;
  height: auto;
  padding: 0 4rem;
}

.linkContainer {
  margin-top: 0.25rem;
}

.linkDescription {
  text-align: center;
  margin: 0.5rem 0;
  font-weight: 600;
}

.outerLink {
  text-decoration: none;
  color: var(--color-text);

  &:hover {
    text-decoration: underline;
  }
}

/* Small Smartphones */
@media (max-width: 24em) {
  .heroTitle {
    font-size: 2.25rem;
  }
  .heroSubTitle {
    font-size: 1.25rem;
  }

  .heroImage {
    padding: 0 5.5rem;
  }
}
