.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 4rem; 
}

.statusContainer {
  composes: wrapper;
  gap: 2rem;
}

.loadingText {
  font-size: 2.4rem;
}

.errorText {
  composes: loadingText;
}

.tryAgainBtn {
  margin: 0.4rem;
  padding: 0.4rem 0.8rem;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 0.2rem;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.75rem, 1fr));
  gap: 2rem;
  width: 100%;
  padding: 2rem;
  list-style-type: none;
}
