nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: var(--color-primary);
}

.navItem {
  text-align: center;
  width: 6rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--color-white-text);
  text-decoration: none;
}

.customActive {
  composes: navItem;
  color: var(--color-active);
}
