nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  height: 4rem;
  background-color: var(--color-primary);
}

.navbarTitle {
  position: absolute;
  left: 2.4rem;
  display: none;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: var(--font-heading);
  color: var(--color-white-text);
}

.navItem {
  text-align: center;
  padding: 0.4rem 0.8rem;
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-white-text);
  text-decoration: none;
}

.customActive {
  composes: navItem;
  color: var(--color-active);
}

.cartLinkContent {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}

.cartIcon {
  display: block;
}

.badge {
  font-weight: 700;
}

/* Large Tablets & Laptops (1024px+) */
@media screen and (min-width: 64em) {
  .navbarTitle { 
    display: block;
  }
}
