@font-face {
  font-family: Roboto;
  src: url(./assets/Roboto-VariableFont_wdth\,wght.woff2) format('woff2');
}

@font-face {
  font-family: Damion-Regular;
  src: url(./assets/Damion-Regular.woff2) format('woff2');
}

:root {
  --color-primary: #333;
  --color-background: #fff;
  --color-text: #333;
  --color-white-text: #fff;
  --color-active: cyan;
  --color-price: orangered;
  --color-price-hover:#ee4500; 
  --color-item-background: #eee;
  --navbar-height: 4rem;
  --Roboto: Roboto, Arial, Helvetica, sans-serif;
  --Damion-Regular: Damion-Regular, Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--Roboto);
  background-color: var(--color-background);
  color: var(--color-text);
}

button {
  border: none;
  cursor: pointer;
}
