@font-face {
  font-family: Roboto;
  src: url(./assets/Roboto-VariableFont_wdth\,wght.woff2) format('woff2');
}

@font-face {
  font-family: Damion-Regular;
  src: url(./assets/Damion-Regular.woff2) format('woff2');
}

:root {
  /* Color Palette */
  --color-dark-gray: #333;
  --color-white: #fff;
  --color-orange: orangered;
  --color-orange-hover: #ee4500;
  --color-light-gray: #eee;

  /* Semantic Mapping */
  --color-primary: var(--color-dark-gray);
  --color-background: var(--color-white);
  --color-text: var(--color-dark-gray);
  --color-white-text: var(--color-white);
  --color-active: cyan;
  --color-accent: var(--color-orange);
  --color-accent-hover: var(--color-orange-hover);
  --color-item-background: var(--color-light-gray);
  --navbar-height: 4rem;

  /* Functional Typography */
  --font-body: Roboto, Arial, Helvetica, sans-serif;
  --font-heading: Damion-Regular, Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text);
}

button {
  border: none;
  cursor: pointer;
}
