:root {
  --color-primary: #333;
  --color-background: #fff;
  --color-text: #333;
  --color-white-text: #fff;
  --color-active: skyblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}
